@model VirtoCommerce.Webshop.Models.WebshopSettingsPart

<fieldset>
    <legend>@T("VirtoCommerce Webshop")</legend>
    <div>
        @Html.LabelFor(m => m.ApiUrl, T("API URL"))
        @Html.TextBoxFor(m => m.ApiUrl, new { @class = "textMedium" })
    </div>
    <div>
        @Html.LabelFor(m => m.AppId, T("Application ID"))
        @Html.TextBoxFor(m => m.AppId, new { @class = "textMedium" })
    </div>
    <div>
        @Html.LabelFor(m => m.SecretKey, T("Secret key"))
        @Html.TextBoxFor(m => m.SecretKey, new { @class = "textMedium" })
    </div>
    <div>
        @Html.LabelFor(m => m.StoreId, T("Store ID"))
        @Html.TextBoxFor(m => m.StoreId, new { @class = "textMedium" })
    </div>
    <div>
        @Html.LabelFor(m => m.Culture, T("Culture"))
        @Html.TextBoxFor(m => m.Culture, new { @class = "text-small" })
    </div>
</fieldset>