@{
    Style.Require("LatoFont");
    Style.Require("Webshop");
}

<ul class="ws-product-list" id="isotope-content">
    @foreach (var product in Model.Products)
    {
        <li>
            <a href="@Href(String.Format(product.UrlPattern, product.Slug))" title="@product.Name">
                <div class="ws-image">
                    <img alt="@product.Name" src="@product.ImageUrl" />
                    @if (product.Price.Sale > 0 && product.Price.Sale != product.Price.Original)
                    {
                        <span class="ws-badge ws-badge-sale">@T("SALE")</span>
                    }
                </div>
                <div class="ws-title">
                    <div class="ws-prices">
                        @if (product.Price.Sale > 0 && product.Price.Sale != product.Price.Original)
                        {
                            <del class="ws-base">
                                <span class="ws-amount">$@product.Price.Sale.Value</span>
                            </del>
                        }
                        <span class="ws-price">
                            <span class="ws-amount">$@product.Price.Original</span>
                        </span>
                    </div>
                    <h3>@product.Name</h3>
                </div>
            </a>
        </li>
    }
</ul>