@{
    Style.Require("LatoFont");
    Style.Require("VirtoCommerceStore");
}

@{
    var price = Model.Product.Price != null ? Model.Product.Price.Original : 0;
}

<div class="vc-one-third vc-product-images">
    <div class="vc-box">
        <div class="vc-primary">
            <img alt="@Model.Product.Name" src="@Model.Product.ImageUrl" />
        </div>
    </div>
</div>
<div class="vc-two-third vc-product-info">
    <div class="vc-box">
        <div class="vc-title">
            <input id="product-slug" type="hidden" value="@Model.Product.Slug" />
            <h1>@Model.Product.Name</h1>
            <span class="vc-price">$@price.ToString("#.00")</span>
        </div>
        <div class="vc-description">
            <p>
                @Model.Product.Description
            </p>
        </div>
        <div class="vc-add-to-cart">
            <button class="vc-btn vc-btn-primary" id="btn-add-to-cart">@T("Add to cart")</button>
        </div>
    </div>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $("#btn-add-to-cart").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", new { controller = "ShoppingCart", area = "VirtoCommerce.Webshop" })",
                data: {
                    slug: $("#product-slug").val(),
                    q: 1,
                    __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()"
                },
                success: function (jsonResult) {
                    if (jsonResult) {
                        if (jsonResult.errorMessage) {
                            alert(jsonResult.errorMessage);
                        } else {
                            $(".vc-cart-preview a").html("<span>" + jsonResult.shoppingCart.LineItemCount + "</span>");
                        }
                    }
                }
            });
        });
    });
</script>