@{
    Style.Require("LatoFont");
    Style.Require("VirtoCommerceStore");
}

<div class="vc-two-third vc-cart-items">
    <div class="vc-box">
        <div class="vc-box-header">
            <h3>@T("Shopping cart")</h3>
        </div>
        <table>
            @foreach (var lineItem in Model.ShoppingCart.LineItems)
            {
                <tr>
                    <td>
                        <div class="vc-image">
                            <img src="@lineItem.ImageUrl" title="@lineItem.Name" />
                        </div>
                    </td>
                    <td>
                        <h5 class="vc-item-name">@lineItem.Name</h5>
                    </td>
                    <td class="vc-quantity">
                        <input data-item-id="@lineItem.Id" type="text" value="@lineItem.Quantity" />
                    </td>
                    <td>
                        <div class="vc-item-price">
                            $@lineItem.LinePrice.ToString("#.00")
                        </div>
                    </td>
                    <td>
                        <div class="vc-remove-item" data-item-id="@lineItem.Id" title="@T("Remove item")"></div>
                    </td>
                </tr>
            }
        </table>
        <div class="vc-box-footer">
            <a class="vc-btn vc-btn-primary vc-right" href="@Href("~/Checkout")">@T("Proceed to checkout")</a>
        </div>
    </div>
</div>
<div class="vc-one-third vc-cart-info">
    <div class="vc-box">
        <div class="vc-box-header">
            <h3>@T("Order totals")</h3>
        </div>
        <ul class="vc-totals">
            <li>
                @T("Subtotal"):<strong>$@Model.ShoppingCart.Subtotal.ToString("#.00")</strong>
            </li>
            <li class="vc-important">
                @T("Total"):<strong>$@Model.ShoppingCart.Total.ToString("#.00")</strong>
            </li>
        </ul>
    </div>
</div>

<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
<script>
    Array.prototype.getElementByVal = function (propName, propValue) {
        var el = null;
        for (var i = 0; i < this.length; i++) {
            if (this[i][propName] == propValue) {
                el = this[i];
                break;
            }
        }
        return el;
    }

    function updateTotals(shoppingCart) {
        $(".vc-totals li:eq(0) strong").text("$" + shoppingCart.Subtotal);
        $(".vc-totals li:eq(1) strong").text("$" + shoppingCart.Total);
    }

    $(function () {
        $(".vc-cart-items input[type='text']").on("blur", function () {
            var lineItemId = $(this).data("item-id");
            var quantity = $(this).val();
            var that = $(this);
            $.ajax({
                type: "POST",
                cache: false,
                url: "@Url.Action("Change", new { controller = "ShoppingCart", area = "VirtoCommerce.Webshop" })",
                data: {
                    lineItemId: lineItemId,
                    quantity: quantity,
                    __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()"
                },
                success: function (jsonResponse) {
                    if (jsonResponse) {
                        if (jsonResponse.errorMessage) {
                            alert(jsonResponse.errorMessage);
                        } else {
                            var lineItem = jsonResponse.shoppingCart.LineItems.getElementByVal("Id", lineItemId);
                            that.parents("tr").find(".vc-item-price").text("$" + lineItem.LinePrice);
                            updateTotals(jsonResponse.shoppingCart);
                        }
                    }
                }
            });
        });
        $(".vc-remove-item").on("click", function () {
            var lineItemId = $(this).data("item-id");
            var that = $(this);
            $.ajax({
                type: "POST",
                url: "@Url.Action("Remove", new { controller = "ShoppingCart", area = "VirtoCommerce.Webshop" })",
                data: {
                    lineItemId: lineItemId,
                    __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()"
                },
                success: function (jsonResponse) {
                    if (jsonResponse) {
                        if (jsonResponse.errorMessage) {
                            alert(jsonResponse.errorMessage);
                        } else {
                            if (jsonResponse.shoppingCart.LineItemCount == 0) {
                                window.location.reload();
                            }
                            that.parents("tr").remove();
                            updateTotals(jsonResponse.shoppingCart);
                            $(".vc-cart-preview span").text(jsonResponse.shoppingCart.LineItemCount);
                        }
                    }
                }
            });
        });
    });
</script>